.todolist {
    text-align: center;
}

#todocontainer {
    margin: 25px;
    padding-bottom: 25px;
    border: 1px solid black;
    border-radius: 5px;
    
}

#todocontainer p{
    margin-top: 20px;
}

#todobtn {
    color: blue;
    background-color: purple;
    margin: 0 10px;
}

ul {
    line-height: 200%;
}

.close {
    color: red;
}

